aiohttp == 3.6.2
async-timeout == 3.0.1
attrs == 20.1.0
chardet == 3.0.4
discord == 1.0.1
discord.py == 1.4.1
idna == 2.10
multidict == 4.7.6
parso == 0.7.0
pylint == 2.5.2
apiai == 1.2.3
cython == 0.29.21
numpy == 1.19.1